@using Shared.Entities
@model IEnumerable<WebProject.Models.Account.RegisterModel>
@{
    ViewBag.Title = "Quiz4Net";
    ViewBag.MetaDescription = "We provide online .Net tests";
    ViewBag.MetaKeywords = ".net quiz, .net online quiz, .net tests, .net tests online, c# quiz, c# online quiz, c# test, c# online test, mvc quiz, asp.net mvc quiz, mvc test online, sharepoint 2016 quiz, sharepoint 2016 test online, sharepoint 2016, sharepoint 2016 test, javascript quiz, javascript test, quiz online free";
    var userMessage = string.Empty;
}

<link href="~/Content/quizIndex.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/3DCloudCarousel/main.min.css">
<link rel="stylesheet" href="~/Content/Effect/effect.min.css">

@if (TempData["UserMessage"] != null)
{
    userMessage = (string)TempData["UserMessage"];
}
@Html.Hidden("hdnUserMessage", userMessage)

<div id="messageDialog" class="user-message-field"> @userMessage </div>

<div class="quiz-header-container" align="center">
    <img src="~/Images/quiz4net_logo.png" class="img-responsive" />
    <div class="index-header">
        <img src="~/Images/welcomeToQuiz4Net.png" alt="Welcome to Quiz4Net" class="img-responsive" />
    </div>
</div>
<hr class="hr-green" />
<div class="label-div" align="center">.Net Framework Quizzes</div>
<div id="showcase" class="noselect showcase">
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.CSharp})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/csharp_logo.jpg">
        </a>
    </div>
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.Mvc})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/asp-net-mvc.jpg">
        </a>
    </div>
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.EntityFramework})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/entity-framework.jpg">
        </a>
    </div>
</div>
<hr class="hr-green" />
<div class="label-div" align="center">JavaScript Quizzes</div>
<div class="noselect showcase">
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.Javascript})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/JavaScript_Logo.png">
        </a>
    </div>
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.jQuery})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/jquery-logo.png">
        </a>
    </div>
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.AngularJS2})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/angularjs_logo.jpeg">
        </a>
    </div>
</div>
<hr class="hr-green" />
<div class="label-div" align="center">Working with Data</div>
<div class="noselect showcase">
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.SqlServer})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/sql-server-logo.jpg">
        </a>
    </div>
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.EntityFramework})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/entity-framework.jpg">
        </a>
    </div>
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.DataStructures})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/Data-Structure.png">
        </a>
    </div>
</div>
<hr class="hr-green" />
<div class="label-div" align="center">Other .Net Quizzes</div>
<div class="noselect showcase">
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.UnitTesting})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/unit-testing.png">
        </a>
    </div>
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.SharePoint})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/sharepoint-2016.png">
        </a>
    </div>
    <div class="cloud9-item">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.Scrum})">
            <img class="img-responsive rounded" src="~/Images/Technologies/Logos/scrum.png">
        </a>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/ScrollReveal/scrollreveal.min.js"></script>
<script src="~/Scripts/3DCloudCarousel/jquery.reflection.min.js"></script>
<script src="~/Scripts/3DCloudCarousel/jquery.cloud9carousel.min.js"></script>
<script src="~/Scripts/index.min.js"></script>