@using Shared.Entities
@model IEnumerable<WebProject.Models.Account.RegisterModel>
@{
    ViewBag.Title = "Quiz4Net";
    ViewBag.MetaDescription = "We provide online .Net tests";
    ViewBag.MetaKeywords = ".net quiz, .net online quiz, .net tests, .net tests online, c# quiz, c# online quiz, c# test, c# online test, mvc quiz, asp.net mvc quiz, mvc test online, sharepoint 2016 quiz, sharepoint 2016 test online, sharepoint 2016, sharepoint 2016 test, javascript quiz, javascript test, quiz online free";
    var userMessage = string.Empty;
}

<link href="~/Content/quizMenu.min.css" rel="stylesheet">
<link href="~/Content/quizIndex.min.css" rel="stylesheet">

@if (TempData["UserMessage"] != null)
{
    userMessage = (string) TempData["UserMessage"];
}
@Html.Hidden("hdnUserMessage", userMessage)

<div id="messageDialog" class="user-message-field"> @userMessage </div>

@Html.Partial("_Menu")
<div class="quiz-title">
    <img src="~/Images/welcomeToQuiz4Net.png" alt="Welcome to Quiz4Net" class="img-responsive"/>
</div>
<hr class="hr"/>
<div class="quiz-row">
    <span> It needs a lot of practise and dedication to become a good software engineer. Our tests are a great way to test your skills and to learn new things. The questions cover many different topics and we often add new questions and categories. We guarantee that the content is always up-to-date.</span>
    <hr class="hr-green"/>
</div>

    <div class="quiz-container">
        <div class="quiz-title">
            C# Quiz
        </div>
        <div class="quiz-description">
            The quiz includes questions from the following categories:
        </div>
        <div class="quiz-description-category">
            <i class="fa fa-check" aria-hidden="true"></i>
            Primitive Types and Variables
        </div>
        <div class="quiz-description-category">
            <i class="fa fa-check" aria-hidden="true"></i>
            Operators and Expressions
        </div>
        <div class="quiz-description-category">
            <i class="fa fa-check" aria-hidden="true"></i>
            Conditional Statements
        </div>
        <div class="quiz-description-category">
            <i class="fa fa-check" aria-hidden="true"></i>
            Loops
        </div>
        <div class="quiz-description-category">
            <i class="fa fa-check" aria-hidden="true"></i>
            Arrays
        </div>
        <div class="quiz-description-category">
            <i class="fa fa-check" aria-hidden="true"></i>
            Methods
        </div>
        <div class="quiz-description-category">
            <i class="fa fa-check" aria-hidden="true"></i>
            Exceptions
        </div>
        <div class="quiz-description-category">
            <i class="fa fa-check" aria-hidden="true"></i>
            Object-Oriented Programming
        </div>      
        <div class="quiz-description-category">
            <i class="fa fa-check" aria-hidden="true"></i>
            Data Structures
        </div>
        <div class="quiz-description">
            Number of questions: 20
        </div>
        <div class="quiz-start-test-button-container">
            <a title="C# Test" href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.CSharp})" class="start-quiz-button"> Start Test </a>
        </div>
    </div>
    <a title="Data Structures Test" href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.DataStructures})" class="button"> Data Structures Test </a>

    <a title="ASP.Net MVC Test" href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.Mvc})" class="button"> ASP.Net MVC Test </a>

    <a title="JavaScript Test" href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.Javascript})" class="button"> JavaScript Test </a>

    <a title="SharePoint 2016 Test" href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.SharePoint})" class="button"> SharePoint 2016 Test </a>

    <a title="Sql Server Test" href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.SqlServer})" class="button"> Sql Server Test </a>

<a title="Entity Framework Test" href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.EntityFramework})" class="button">Entity Framework Test </a>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/index.min.js"></script>