@using Shared.Entities
@model IEnumerable<WebProject.Models.Account.RegisterModel>
@{
    ViewBag.Title = "Welcome to";
    string userMessage = string.Empty;
}

<link href="~/Content/quizMenu.css" rel="stylesheet">
<link href="~/Content/quizIndex.css" rel="stylesheet">

@if (TempData["UserMessage"] != null)
{
    userMessage = (string)TempData["UserMessage"];
}
@Html.Hidden("hdnUserMessage", userMessage)

<div id="messageDialog" class="user-message-field"> @userMessage </div>

@Html.Partial("_Menu")
<div class="quiz-title">
    <img src="~/Images/welcomeImage.png" alt="Welcome to Quiz4Net"/>
</div>
<hr class="hr"/>
<div class="quiz-description">
    <img src="~/Images/tick.png"/>
    We provide free online tests which help you assess your development skills
    <hr class="hr-gray"/>
</div>
<div class="quiz-description">
    <img src="~/Images/tick.png"/>
    Our main goal is to provide quality content and great user experience
    <hr class="hr-gray"/>
</div>
<div class="quiz-description">
    <img src="~/Images/tick.png"/>
    You can check the correct answers for each question
    <hr class="hr-gray"/>
</div>
<div class="quiz-index-buttons">
    <a href="@Url.Action("StartTest", "Quiz", new { questionCategory = QuestionCategory.CSharp})">
        <img src="~/Images/btnCSharpTest.png" alt="Start C# Test"/>
    </a>
    <a href="@Url.Action("StartTest", "Quiz", new { questionCategory = QuestionCategory.Mvc})">
        <img src="~/Images/btnMVCTest.png" alt="Start ASP.Net MVC Test"/>
    </a>
    <a href="@Url.Action("StartTest", "Quiz", new { questionCategory = QuestionCategory.Javascript})">
        <img src="~/Images/btnJavaScriptTest.png" alt="Start JavaScript Test"/>
    </a>
    <a href="@Url.Action("StartTest", "Quiz", new { questionCategory = QuestionCategory.SharePoint})">
        <img src="~/Images/btnSharePointTest.png" alt="Start SharePoint 2016 Test"/>
    </a>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/index.js"></script>