@using WebProject.Models.Quiz
@model WebProject.Models.Quiz.QuestionModel
@{
    ViewBag.Title = "Question";
}

<link href="~/Content/zooomin.css" rel="stylesheet">
<link href="~/Content/quiz.css" rel="stylesheet">

<div class="question-number">
    Question @Model.Number / @Model.TotalQuestionsCount
</div>
<hr class="hr-green"/>
<div class="question">
    @Model.Text
</div>
<div class="div-question-image">
    @if (Model.Image != null && Model.Image.Length > 0)
    {
        @Html.Raw("<img class='zooomin' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" />")
    }
</div>
<div id="divResult" class="div-result"></div>
@using (Html.BeginForm("Question", "Quiz", new {questionCategory = Model.SelectedQuestionCategory}))
{
    @Html.HiddenFor(m => m.Id, new {id = "QuestionId"})
    @Html.Hidden("ResponseModel.QuestionId", Model.Id.ToString())
    <img id="ajaxLoadIndicator" src="~/Images/loadImage.gif" alt="Loading..."/>

    for (var i = 0; i < Model.Answers.Count; i++)
    {
        <div class="answer">
            <span> @Html.CheckBox("quizOption", new {id = Model.Answers[i].Id, @class = "quiz-option"})</span>
            <span> @Html.Label(Model.Answers[i].Text, new {id = "spanAnswerText" + Model.Answers[i].Id}) </span>
            @Html.Hidden(nameof(ResponseModel) + "." + nameof(ResponseModel.AnswerIds) + "[" + i + "]", 0, new {id = "hiddenAnswerId" + Model.Answers[i].Id})
        </div>
    }

    <div class="question-buttons">
        <img src="~/Images/btnSubmit.png" alt="Submit" id="checkAnswer" data-request-url="@Url.Action("CheckAnswers", "Quiz")">
        <button type="submit" style="background-color: white; border: 10px solid transparent; border-color: white;">
            <img src="~/Images/btnNextQuestion.png" alt="Next" id="nextQuestion">
        </button>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/zooomin.js"></script>
<script type="text/javascript" src="~/Scripts/answer.js"></script>
<script type="text/javascript">
    $('.zooomin').zooomin();
</script>