@model WebProject.Models.Quiz.QuizCompletedModel
@{
    ViewBag.Title = "Quiz Completed";
}

<link href="~/Content/quizCompleted.css" rel="stylesheet">
@Html.Partial("_Menu")
<div class="quiz-completed-title"> Quiz Completed</div>
<hr class="hr"/>
<div class="div-item">
    Number of correct answers: <span class="green"> @Model.NumberOfCorrectAnswers out of @Model.TotalQuestionsCount questions </span>
</div>
<hr class="hr"/>
<div class="div-item">
    Time spent: <span class="green"> @Model.TimeSpentText </span>
</div>
<hr class="hr"/>
<div class="quiz-completed-buttons">
    <a href="@Url.Action("Index", "Quiz")" class="button"> Start a new test </a>
</div>