@model WebProject.Models.Quiz.QuizCompletedModel
@{
    ViewBag.Title = "Quiz Completed";
}

<link href="~/Content/quizCompleted.css" rel="stylesheet">

<div class="quiz-completed-title"> Quiz Completed</div>
<hr/>
<div class="div-item">Number of correct answers: <span class="green"> @Model.NumberOfCorrectAnswers out of @Model.TotalQuestionsCount questions </span> </div>
<hr />
<div class="div-item">Time spent: <span class="green"> @Model.TimeSpentText </span> </div>
<hr />
<div class="div-item">Your level is: <span class="green"> @Model.UserLevel </span></div>
<hr />
<div class="quiz-completed-buttons">
    <a href="@Url.Action("StartTest", "Quiz")">
        <img src="~/Images/btnStartNewTest.png" alt="Start a new test"/>
    </a>
</div>