<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="Keywords" content="web development,development online quiz,development online test,practice exam,c# quiz,c# test,.net quiz,.net exam,.net quiz free,c# quiz free,practice test,practice questions,multiple choice questions,csharp programming,sql server,asp net,mvc,csharp questions,asp.net questions,framework questions,csharp interview question,asp net interview question" />
    <title>@ViewBag.Title Quiz4Net - development quiz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")       
</head>
<body>
    <div class="navbar-fixed-top" style="background-color:white">       
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p> </p>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)    
</body>
</html>
