@model WebProject.Models.Quiz.QuestionModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Question", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @*@Html.AntiForgeryToken()*@

    <span> Question: </span>
    <div>
        @Html.TextAreaFor(m => m.Text, "Question")
    </div>

    <div>
        <span> Image: </span>
        <input type="file" name="uploadImage"/>
    </div>

    <div>
        <span> Answer 1: </span>
        @Html.TextAreaFor(m => m.Answers[0].Text)
        <span> Is Correct: </span>
        @Html.CheckBoxFor(m => m.Answers[0].IsCorrect)
    </div>
    <div>
        <span> Answer 2: </span>
        @Html.TextAreaFor(m => m.Answers[1].Text)
        <span> Is Correct: </span>
        @Html.CheckBoxFor(m => m.Answers[1].IsCorrect)
    </div>
    <div>
        <span> Answer 3: </span>
        @Html.TextAreaFor(m => m.Answers[2].Text)
        <span> Is Correct: </span>
        @Html.CheckBoxFor(m => m.Answers[2].IsCorrect)
    </div>
    <div>
        <span> Answer 4: </span>
        @Html.TextAreaFor(m => m.Answers[3].Text)
        <span> Is Correct: </span>
        @Html.CheckBoxFor(m => m.Answers[3].IsCorrect)
    </div>
    <div>
        <input type="submit" value="Save"/>
    </div>
}